<header-hero></header-hero>

<div class="container text-center mt-3 p-4 ">
    <div class="col-12 col-md-10 offset-md-1">
      <!-- <h1></h1> -->
      <h1>FAQs</h1>
      <p>
        {{"FAQS.EPIGRAPH" | translate}}
      </p>
    </div>
    <hr>

  </div>

  <div id='' class="bg-mosaico-blanco pb-5">
    <div class="container">
      <div class="row desc-strip  mx-3">
        <div class="desc-text" >
           <h6>
            {{'FAQS.AQS.Q1' | translate}}

           </h6>

           <p>
            {{'FAQS.AQS.A1' | translate}}
          </p>
          <h6>
            {{'FAQS.AQS.Q2' | translate}}

           </h6>

           <p [innerHTML]="'FAQS.AQS.A2' | translate ">
          </p>
          <h6>
            {{'FAQS.AQS.Q3' | translate}}

           </h6>

           <p [innerHTML]="'FAQS.AQS.A3' | translate ">
            
          </p>
            
          

        </div>
      </div>
    </div>
  </div>

  <!-- <h6>¿Qué información debo incluir en mis correos/llamadas a los targets? </h6>
            <p>
              Debes incluir tu nombre completo y un mensaje personalizado. Puedes usar nuestro membrete para tener una idea sobre qué escribir, pero en lo posible, asegúrate de que el texto está escrito en tus propias palabras para que la persona que lo reciba sepa que hay un individuo detrás del mensaje. 
            Si en tu mensaje estás apoyando a un individuo detenido, debes incluir su nombre y número A. 
            ort. 
            </p>
            
            ¿Si me quiero involucrar más a las campañas, qué puedo hacer?
            Para más información sobre las campañas de las que hacemos parte, puedes seguirnos por redes sociales @ccijustice.org. 
            
            ¿Qué otras formas hay de involucrarse en  la lucha por la liberación de inmigrantes detenidos?
            
            Te puedes convertir en un donante único o recurrente del fondo que ayuda a los migrantes detenidos en Yuba County Jail y Mesa Verde. El fondo destina recursos para aquellos detenidos en estos centros de detención o aquellos liberados o deportados por la migra en el comienzo de su nueva vida. 
            
            Si puedes hospedar a una persona que ha salido de detención migratoria, te gustaría mantener correspondencia con una persona detenida, o tienes otras ideas sobre cómo apoyar esta lucha, escríbenos a info@ccijustice.org
              -->