<div class="politician-card">
    <div class="card-image-container pt-3">
        <img [src]="imgUrl" class=" img-fluid img-thumbnail card-img-top " alt="{{action['actions_id']['name'] || '...'}}">
    </div>
    <div class="card-body ">
      <!-- <ng-template [ngIf]="!_project.es_debate">
          <span class="postura px-4 py-1">{{stance_postura}}</span>
      </ng-template> -->
        <span class="title mt-2">{{action['actions_id']['name']}} </span>
        <!-- <span class="subtitle">{{action.position && action.position.name}}</span>-->
        <span class="subtitle">{{action['translations'][0]['description']}}</span> 
        <div class="button-container mt-auto px-4">
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'twitter'" type="button" class="contact-button" (click)="openTwitterWindow()">
                <!-- <i class="fab fa-twitter"></i>&emsp; -->
                {{action['translations'][0]['call_to_action_label']}}
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'facebook'" type="button" class=" contact-button" (click)="generateRandomMessage()" data-toggle="modal" [attr.data-target]="'#facebookModal' + action['actions_id']['name']">
                <!-- <i class="fab fa-facebook-f"></i>&emsp; -->
                {{action['translations'][0]['call_to_action_label']}}
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'instagram'" type="button" class="contact-button" (click)="generateRandomMessage()" data-toggle="modal" [attr.data-target]="'#instagramModal' + action['actions_id']['name']">
                <!-- <i class="fab fa-instagram"></i>&emsp; -->
                {{action['translations'][0]['call_to_action_label']}}
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'telegram'" type="button" class="contact-button" (click)="generateRandomMessage()" data-toggle="modal" [attr.data-target]="'#telegramModal' + action['actions_id']['name']">
                <!-- <i class="fab fa-telegram"></i>&emsp; -->
                {{action['translations'][0]['call_to_action_label']}}
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'call'" type="button" class="contact-button" data-toggle="modal" (click)="generateRandomMessage()" [attr.data-target]="'#callModal' + action['actions_id']['name']">
                <!-- <i class="fas fa-phone"></i>&emsp; -->
                {{action['translations'][0]['call_to_action_label']}}
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'whatsapp'" type="button" class=" btn-rectangular" data-toggle="modal" (click)="generateRandomMessage()" [attr.data-target]="'#whatsappModal' + action['actions_id']['name']">
                 <!-- <i class="fab fa-whatsapp"></i>&emsp;  -->
                 {{action['translations'][0]['call_to_action_label']}}
               
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'linkedin'" type="button" class=" btn-rectangular"  (click)="openURL()" >
                <!-- <i class="fab fa-whatsapp"></i>&emsp;  -->
                {{action['translations'][0]['call_to_action_label']}}
              
           </button>
           <button *ngIf="action['actions_id']['name'].toLowerCase() == 'email'" type="button" class=" btn-rectangular"  data-toggle="modal" (click)="generateRandomMessage()" [attr.data-target]="'#emailModal' + action['actions_id']['name']" >
                <!-- <i class="fab fa-whatsapp"></i>&emsp;  -->
                {{action['translations'][0]['call_to_action_label']}}
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'p.o. box' " type="button" class=" btn-rectangular"  data-toggle="modal" (click)="generateRandomMessage()" [attr.data-target]="'#poboxModal'" >
                <!-- <i class="fab fa-whatsapp"></i>&emsp;  -->
                {{action['translations'][0]['call_to_action_label']}}
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'complete form'" type="button" class=" btn-rectangular"  (click)="openURL()" >
                <!-- <i class="fab fa-whatsapp"></i>&emsp;  -->
                {{action['translations'][0]['call_to_action_label']}}
            
            </button>
            <button *ngIf="action['actions_id']['name'].toLowerCase() == 'sign petition'" type="button" class=" btn-rectangular"  (click)="openURL()" >
                <!-- <i class="fab fa-whatsapp"></i>&emsp;  -->
                {{action['translations'][0]['call_to_action_label']}}
            
            </button>
        </div>
    </div>
</div>

<!-- Modal Facebook -->
<div class="modal fade" id="facebookModal{{action['actions_id']['name']}}" tabindex="-1" role="dialog" aria-labelledby="Escribir por Facebook" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    {{'PCARD.MODALS.FACEBOOK' | translate}}
                    <BR>
                    <div class="example-message py-2 px-3 my-4">{{randomMessage}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="openFacebookWindow()" class="btn btn-primary btn-aec btn-center"><i class="fab fa-facebook-f"></i>&emsp;Ir a su Facebook</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal Instagram -->
<div class="modal fade" id="instagramModal{{action['actions_id']['name']}}" tabindex="-1" role="dialog" aria-labelledby="Escribir por Instagram" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    {{'PCARD.MODALS.INSTAGRAM' | translate }}
                    <br>
                    <div class="example-message py-2 px-3 my-4">{{randomMessage}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="openInstagramWindow()" class="btn btn-primary btn-aec btn-center"><i class="fab fa-instagram"></i>&emsp;Ir a su Instagram</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal telegram -->
<div class="modal fade" id="telegramModal{{action['actions_id']['name']}}" tabindex="-1" role="dialog" aria-labelledby="Escribir por Instagram" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    {{'PCARD.MODALS.TELEGRAM' | translate }}
                    <br>
                    <div class="example-message py-2 px-3 my-4">{{randomMessage}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="openInstagramWindow()" class="btn btn-primary btn-aec btn-center"><i class="fab fa-telegram"></i>&emsp;TelEgram</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal LLamada -->
<div class="modal fade" id="callModal{{action['actions_id']['name']}}" tabindex="-1" role="dialog" aria-labelledby="Llamar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    {{'PCARD.MODALS.CALL' | translate}}<br>
                    <div class="example-message py-2 px-3 my-4">{{randomMessage}}</div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <a (click)="tallyUp()" href="tel:{{action['actions_id']['name']}}" class="btn btn-primary btn-aec btn-center">Llamar</a>
            </div> -->
        </div>
    </div>
</div>

<!-- Modal whatsapp -->
 <div class="modal fade" id="whatsappModal{{action['actions_id']['name']}}" tabindex="-1" role="dialog" aria-labelledby="mandar un whatsapp" aria-hidden="true"> -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    <p>
                        {{'PCARD.MODALS.WHATSAPP' | translate }}
                    </p>
                    

                    <div class="example-message py-2 px-3 my-4">{{randomMessage}}</div>

                </div>
                <!-- <p><a (click)="tallyUp()" href="https://wa.me/{{action.phone.replace('+','').replace(' ', '')}}?text={{encode(randomMessage)}}" target="_blank" class="btn btn-primary btn-aec btn-center">Abrir Whatsapp <i class="fab fa-whatsapp"></i></a><p> -->
            <p><a (click)="toggleWhatsappHelp()" class="text-primary text-bold" style="cursor: pointer;">Ver como funciona <i class="fas fa-angle-down"></i></a></p>
            <div class="text-center" *ngIf="showWhatsappHelp">
                    <p>Cuando aprietes el boton de "Abrir Whatsapp" se abrira la siguiente pantalla en tu navegador (Tanto movil como en PC)</p>
            <img src="../../assets/images/whatsapp3.jpg" width="350"  class="img-thumbnail mb-3 img-fluid">
                    <p>Al hacer clic en "Continuar al chat" pueden pasar 2 cosas: Si esta en un movil, abrirá whatsapp (Si lo tenes instalado). Si estas en tu PC y no tienes instalado WhatsApp Desktop, verás las siguiente pantalla.</p>
            <img src="../../assets/images/whatsapp2.jpg" width="350"  class="img-thumbnail mb-3 img-fluid">
                    <p>Podes elegir instalar WhatsApp Desktop haciendo clic en "Descargar" o abrir Whatsapp Web haciendo clic en el link "usar Whatsapp Web" </p>
                    <p>¡Y listo! ¡Ya estarias listo para enviar tu mensaje! Vas a poder editarlo cuando abras la app!</p>
            <img src="../../assets/images/whatsapp1.jpg" width="350"  class="img-thumbnail mb-3 img-fluid">
            </div>
            </div>
        </div>
    </div>
</div> 


<!-- Modal email -->
<div class="modal fade" id="emailModal{{action['actions_id']['name']}}" tabindex="-1" role="dialog" aria-labelledby="Escribir por email" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    {{'PCARD.MODALS.EMAIL' | translate }}
                    <br>
                    <div class="example-message py-2 px-3 my-4">{{randomMessage}}</div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" (click)="openInstagramWindow()" class="btn btn-primary btn-aec btn-center"><i class="fab fa-telegram"></i>&emsp;TelEgram</button>
            </div> -->

        </div>
    </div>
</div>

<!-- Modal P.O Box -->
<div class="modal fade" id="poboxModal" tabindex="-1" role="dialog" aria-labelledby="Escribir por correo postasl" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    {{'PCARD.MODALS.POBOX' | translate }}
                    <br>
                    <div class="example-message py-2 px-3 my-4">{{randomMessage}}</div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" (click)="openInstagramWindow()" class="btn btn-primary btn-aec btn-center"><i class="fab fa-email"></i>&emsp;TelEgram</button>
            </div> -->

        </div>
    </div>
</div>

