<header-hero   [title]="currentProject.name" [heroImg]="backgroundAux" [link]="link" [linkText]="textLink"></header-hero>

<div class="container text-center mt-3 p-4 banner-home bg-blanco">
  <div class="col-12 col-md-10 offset-md-1">
    <!-- <h1></h1> -->
    <h5 class="h5 .font-weight-normal">{{'PROJECT.STATIC.VOICE' | translate}}</h5>
  </div>
</div>

<!-- Título -->
<div class="bg-mosaico-blanco">
  <div class="container">
    <div class="row desc-strip">
      <h1 class="desc-title text-center text-md-left mb-0">{{currentProject.name || "..."}}</h1>
    </div>
  </div>
</div>


<!-- Videos -->
<div class="w-100 bg-mosaico-blanco"
  [hidden]="(currentProject.show_videos == 0 || currentProject.videos.length < 1) && currentProject.show_text == 0">
  <video-slider [hidden]="(currentProject.show_videos == 0 || currentProject.videos.length < 1)"
    [project]="currentProject"></video-slider>
</div>

<div class="container-fluid text-center mt-3 p-4 banner-home bg-azul-claro">
  <div class="col-12 col-md-10 offset-md-1">
    <h2 class="h2">{{'PROJECT.STATIC.COMUNICATION' | translate}}
    </h2>
  </div>
</div>
<!-- Politicxs -->
<div id='politicos' class="bg-mosaico-blanco">
  <politician-slider [politiciansList]="politiciansListSlider" [project]="currentProject"></politician-slider>
</div>
<div class="container-fluid text-center mt-3 p-4 banner-home bg-azul-claro">
  <div class="col-12 col-md-10 offset-md-1">
    <h2 class="h2">{{'PROJECT.STATIC.KNOW' | translate}}
    </h2>
  </div>
</div>

<!-- Imagen del Proyecto -->


<div class=" mb-3 row mx-0">
  <div class="col-12 ">
    <div class="project-title ">
      <img [src]="backgroundAux" class="img-ban mb-3 row mx-0 col-12 ">
      <!-- <div class="project-title" [innerHTML]="currentProject.name"></div> -->

    </div>

  </div>

</div>


<!-- <div class="project-card mb-3 row mx-0">
    <div class="col-12 col-img " [style]='projectImage'>
        <div class="project-title">
{{projectImage}}
        </div>
    </div>
</div> -->

<!-- sobre el proyecto -->
<div class="mb-3 row mx-0">
  <p> {{currentProject.text}}
  </p>
</div>




<!-- Descripcion -->
<div id='description' class="bg-mosaico-blanco pb-5">
  <div class="container">
    <div class="row desc-strip">
      <div class="desc-text" [innerHtml]="projectDescription"></div>
    </div>
  </div>
</div>


<div class="container  mb-3 mb-md-0 mt-5 mt-md-0  text-center">
  <div class="col-12">
    <p class="h3">{{'PROJECT.STATIC.HELP' | translate}}</p>
  </div>
  <div class="row justify-content-center">
    <a class=' btn btn-primary btn-claro btn-aec btn-lg w-50  ' tabindex="0"
      [routerLink]="['/proyecto', currentProject.slug]" fragment="politicos">activar campaña</a>
    <button type="button" class=" btn btn-primary btn-aec btn-lg w-50 offset-md-1" [routerLink]="['/lista', currentProject.slug]">Ver más
      campañas &emsp;<small><i class="fas fa-chevron-right"></i></small></button>

  </div>

</div>

<div class="mb-5 mb-md-0 mt-4 w-100 separador"></div>

<!-- Conteo de votos a favor/en contra/etc. -->
<div class="w-100 bg-azul-claro pt-5" [hidden]="currentProject.show_tally == 0">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <stats [project]="currentProject" [requestFullList]="true" [politiciansList]="null"></stats>
      </div>
    </div>
  </div>
</div>

<!-- Contador de mensajes enviados -->
<tally [ammount]="currentProject.tally"></tally>

<ng-template [ngIf]="!currentProject.es_debate">
  <div class="w-100 bg-blanco">
    <propuesta-slider [project]="currentProject"></propuesta-slider>
  </div>
</ng-template>

<!-- Articulo -->
<div class="w-100 bg-mosaico-blanco py-2"
  [hidden]="(currentProject.show_videos == 0 || currentProject.videos.length < 1) && currentProject.show_text == 0">
  <article [hidden]="currentProject.show_text == 0" [article]="currentProject.text" [image]="currentProject.image"
    [dir]="currentProject.dir"></article>
</div>