@import '../../../theme/variables.scss';

nav{
  display: flex;
  font-family: $raleway;
  padding: 20px 0;
  .nav-link{
    font-size: 18px!important;
    &:hover,&:active{
      color: #9AB5DE!important;
    }
  }
}
.modal-content {
  border-radius: 20px;
  padding: 15px;
  color: $gris-oscuro;
  border: solid 1px #696969;
  @include font-size-text();
  font-weight: 300;
}
.close {
  margin-top: -20px;
  margin-right: -15px;
}
.q-title {
  font-family: $raleway;
  font-weight: 600;
}
.question {
  font-family: $raleway;
  margin-bottom: 15px;
}