<div class="row bg-head">
  <div class="container">
    <div class="row align-content-end ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6  s-pad-mar">
        <img class="img-fluid" src="../../../assets/images/logo-oscuro.png">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 column-header container-logo">  
        <div class="row py-3">
          <div class="row">
            <a routerLink="/"><div class="title"> Campañas de liberación accessibles a la comunidad</div></a>
          </div>
          <div class="row align-content-center py-3">
            <div class="col-xs-12 col-sm-12 col-md-8  ">
                  <img class="img-fluid card-img-left" src="../../../assets/images/ccij-logo.png"  alt="logo ccij">
              </div>
            <div class="col-xs-12 col-sm-12 col-md-4 ">
                <button type='button' class='btn-block btn-rectangular'>Ver sitio</button>
            </div>
        </div> 
      </div>
      </div>
    </div>
  </div>
</div>