@import '../../../theme/variables.scss';

.bg-head{
  background-color: $azul-oscuro;

  }

.maxHeight{
  @media screen and (min-width: 992px){
    max-height: 248px;
}
}
.container-logo{
  background-color: $blanco;
  margin: 0px;
}
.title {
  width: 100%;
  text-align: left;
  color: $azul-oscuro;
  font-family: $raleway;
  // font-size:  calc(2em + 1vw);
  font-size: 43px;
  font-style: normal;
  font-weight: lighter;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 24px;
}
a{
  text-align: center;
  position: relative;
  top: 5px;
}
// a:hover{
//   color: inherit;
// }
.c-img{
  // justify-content: flex-end;
  padding: 0px;
}
.c-img img{
  margin: auto;
  display: block;
  padding: 0px !important;
  @media screen and (min-width: 992px) {
      margin-right: 0px;

  }
}
.img-fluid{
  max-height: 248px;
}

.to-bottom{
  position: absolute;
  bottom: 10px;
}