
<div class="container my-4">
    <div class="row">
        <div class="col">
            <!-- <h2 class="title">{{'S-POLITICIAN' | translate}}
            </h2> -->
            <h2>"¡Comunicate para activar la campaña!"</h2>
        </div>
    </div>
</div>

<slider >
    <ng-template ngFor let-politician [ngForOf]="politiciansList">
        <politician-card [project]="project" [politician]="politician"></politician-card>
    </ng-template>
</slider>

<ng-template [ngIf]="!project.es_debate || (politiciansList && politiciansList.length > 6)">
  <div class="container">
      <div class="row full-list-strip">
          <div class="col-12">
          </div>
      </div>
  </div>
</ng-template>
