<header-hero></header-hero>
<div class="container    mt-3 p-4 banner-home bg-azul-claro">
  <div class="col-12 col-md-10 offset-md-1">
    <!-- <h1></h1> -->
    <h2 class='text-center' >{{ 'MAIN.TITLE' | translate }}</h2>
  </div>
</div>

<div class="bg-mosaico-blanco pt-4 d-none">
  <ng-template [ngIf]="highlightedProjectExists">
    <!-- Título y descripcion-->
    <div class="container">
        <div class="row desc-strip-home">
            <div class="col">
                <div>
                    <h1 class="desc-title text-center text-md-left">{{highlightedProject.name || "..."}}</h1>
                    <div class="desc-text" [innerHtml]="projectDescription"></div>
                </div>
            </div>
        </div>
    </div>

    <politician-slider [politiciansList]="politiciansList" [project]="highlightedProject"></politician-slider>

    <div class="container">
        <div class="row uso-strip-home">
            <div class="col">
                <div>
                    <div class="desc-text">{{'MAIN.HIGHLIGHTED.INSTRUCTIONS' | translate}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 w-100 separador"></div>
  </ng-template>
</div>

<div id="proyectos" class="w-100">
    
    <h1 class="title text-center bg-azul-claro p-4">{{'MAIN.PROJECTS.TITLE' | translate}}</h1>
    <div class="dialog-triangle"></div>
    <div *ngIf="projectList || projectList.length === 0; else elseBlock" class="container">
        <!-- Proyectos -->
        <div class="row">
            
            <project-card [project]="first" *ngIf="!isMobileView && first "></project-card>
            <button class="mx-auto btn-rectangular rounded-0" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                {{'MAIN.ALL_PROJECTS' | translate}}
            </button>
        
            <div class="collapse" id="collapseExample">
                <ng-template ngFor let-p [ngForOf]="projectList">
                    <div class="card card-body">
                        <project-card [project]="p"></project-card>
                    </div>
                </ng-template>
            </div>
        
       </div>
        <!-- <div class="row" >
            <project-card [project]="projectList[0]" *ngIf="!isMobileView && !projectsVisivility"></project-card>

            <div id='projects' [@animatCampaings]='campaingsVisivility'  class="col col-12 mb-4" >
                <ng-template [ngIf]="!isMobileView && projectsVisivility" >
                    <ng-template ngFor let-p [ngForOf]="projectList">
                        <project-card [project]="p"></project-card>
                    </ng-template>
                </ng-template>
                <ng-template [ngIf]="isMobileView">
                    <ng-template [ngIf]="projectList">
                        <div class="project-carousel">
                            <ng-template ngFor let-p [ngForOf]="projectList">
                                <project-card [project]="p" class="item-carousel"></project-card>
                            </ng-template>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
        <div class="text-center bg-azul-claro p-4" >
            <button class="btn-rectangular rounded-0" (click)="animacion()"  >{{'MAIN.ALL_PROJECTS' | translate}}</button>
        </div> -->
    </div>
    <ng-template #elseBlock>
        <div class="container "   ><p class="col col-12 mb-4 text-center">{{'MAIN.NOT_PROJECTS' | translate}}</p></div>
    </ng-template>
</div>



<section class="core-values container">
    <h1 class="text-center">{{'MAIN.CORE_VALUES.TITLE' | translate}}</h1>
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <img src="" class="rounded-circle" >
            </div>
            <div class="px-3 px-sm-3 px-xl-4">
                <p>Resources for other Pro Bono Legal Service providers</p>
            <!-- <a href="#">Access Here ></a> -->
            </div>
            
        </div>
        <div class="col-sm ">
            <div class="text-center">
                <img src="" class="rounded-circle">
            </div>
            <div class="px-3 px-sm-3 px-xl-4">
                <p>Resources for the comunity</p>
            <!-- <a href="#">Access Here ></a> -->
            </div>
            
        </div>
        <div class="col-sm">
            <div class="text-center">
                <img src="" class="rounded-circle">
            </div>
            <div class="px-3 px-sm-3 px-xl-4">
                <p>Thank you for supporting our work!</p>
                <!-- <a href="#">Donate Now ></a> -->
            </div>
            
        </div>
    </div>
    <div class="text-center know-us">
        <h2>{{'MAIN.OURJOB' | translate}}</h2>
        <button class="btn-rectangular">{{'MAIN.KNOW' | translate}}</button>
    </div>
    
</section>

<!-- Contador -->
<!--<tally [ammount]="tally"></tally>-->
